@model IEnumerable<VideoBlogApplication.Models.Comment>

@{
    ViewBag.Title = "Like this video!";
}

<h2 class="header">Video blog application</h2>

<iframe width="560" height="315" src="//www.youtube.com/embed/Kxp8qPEwSXM" frameborder="0" allowfullscreen></iframe>

<script type="text/html" id="template">
    <li class="list-group-item">
        <p>
            <span class="glyphicon glyphicon-user"></span>
            <span class="text-primary" data-content="Username"></span>
            <span data-content="CommentText"></span>
        </p>
        <p>
            <span class="text-muted" data-content="CommentDate"></span>
            <button type="button" class="like-comment btn  btn-xs btn-primary" data-template-bind='[{"attribute":  "data-id", "value": "ID"}]'><span class="button-text" data-content="LStatus"></span> <span class="glyphicon glyphicon-thumbs-up"></span></button>
        </p>
        <ul class="list-unstyled">
            <li data-template-bind='{"attribute": "content", "value": "Likes", "formatter": "nestedTemplateFormatter", "formatOptions": {"parentElement": "ul", "template": "#templateThis"}}'></li>
        </ul>
    </li>
</script>

<script type="text/html" id="templateThis">
    <li class="list-unstyled like-text">
        <span class="list-unstyled" data-template-bind='
        {"attribute": "content", "value": "Username"}'></span> likes this!
    </li>
</script>

    
<ul class="list-group" id="cList" style="max-width: 560px;">
    <li class="list-group-item">
        <form>
            <label class="sr-only" for="CommentText">Comment</label>
            <textarea class="form-control com-text" placeholder="Your comment goes here.." rows="3" id="Comment" name="Comment"></textarea>
            @*<input type="text" id="Comment" name="comment" />*@
            <input type="button" class="btn btn-primary btn-com" id="btn-save" value="Comment" />
        </form>
    </li>
</ul>